<%# HOME ðŸ  %>

<%# ------------------------ main ------------------------------ %>

<div class="home-container">


  <%# homepage picture %>
  <div class="homepage-pic">  </div>

<%# buttons %>
  <a class="button is-info is-medium is-info is-outlined is-focused" href="/login"> Login </a>


  <a class="button is-info is-medium is-info is-outlined is-focused" href="/register/"> Register </a>



  </div>
