<%# HOME ðŸ  %>

<%# ------------------------ main ------------------------------ %>

<div class="home-container">


  <%# homepage picture %>
  <div class="homepage-pic">  </div>

  <%# register %>
  <a class="button is-medium is-info is-outlined is-focused" href="/login"> Login </a>


  <a class="button is-medium is-info is-outlined is-focused" href="/register/"> Register </a>


  <%# login %>

  </div>

</div>
