<%# HOME ðŸ  %>

<%# ------------------------ main ------------------------------ %>

<div class="home-container">


  <%# homepage picture %>
  <div class="homepage-pic">  </div>

<div class="home-text">
  Share your world to InstaKlone
</div>
<%# buttons %>
  <a class="button is-info is-medium is-outlined is-focused" href="/login"> Login </a>


  <a class="button is-info is-medium is-outlined is-focused is" href="/register/"> Register </a>



</div>
