.homepage-pic {
  background-image: url(/images/vintage-camera.png);
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-container {
  display: block;
}


img {
  object-fit: cover;
}

.button.is-info.is-focused {
  width: 150px;
}
