<%# ~~~~~~~~~~~~ CREATE A NEW POST ✍️ ~~~~~~~~~~~~~ %>

<div class="container-edit">

  <h1 class="is-size-3-mobile is-size-2-tablet is-size-1-desktop"> POST A PIC </h1>

  <form method="POST" action="/posts">
    <div class="field">
        <label class="label" for="caption"> caption </label>

        <div class="control">
          <input class="input" name="caption" id="caption" placeholder="caption" required minlength="2" />
        </div>
    </div>

      <%# user uploads photo %>
    <div class="field">
      <label class="label" for="image">Image</label>

      <div class="control">
        <input class="input is-large" name="image" id="image" placeholder=" enter the image URL " required pattern="^https?:\/\/.+" />
      </div>
    </div>
    <%# user clicks submit %>
    <button class="button is-primary"> Upload </button>

  </form>
